```{=html}

<div class="construct-overview-wrapper">

  <div class="construct-overview-intro">
    In addition to the overview below, there are overviews containing only the <a href="/definitions">construct definitions</a> or the instructions for <a href="/measurement-instruments">developing measurement instruments (for empirical research)</a>, <a href="/coding-measurement-instruments">coding measurement instruments (for systematic reviews)</a>, and for <a href="/qualitative-data">eliciting construct content</a>, and <a href="/coding-qualitative-data">coding qualitative data</a> (both for qualitative research).
  </div>

  <table id="construct-overview" class="sortable asc">
    <thead>
      <tr>
        <th class="construct-overview-table-heading" id="construct-overview-label-colheading">Construct label</th>
        <th class="construct-overview-table-heading no-sort">Construct definition</th>
        <th class="construct-overview-table-heading no-sort">Developing measurement instruments</th>
        <th class="construct-overview-table-heading no-sort">Coding measurement instruments</th>
        <th class="construct-overview-table-heading no-sort">Eliciting qualitative data</th>
        <th class="construct-overview-table-heading no-sort">Coding qualitative data</th>
        <th class="construct-overview-table-heading">Unique construct identifier (UCID)</th>
      </tr>
    </thead>
    <tbody class="list">
    
    <% for (const item of items) { %>
    
     <tr <%= metadataAttrs(item) %>>

      <td class="listing-dct.label">
        <a href="/<%= item.dct.id %>">
          <span class="listing-label"><%= item.dct.label %></span>
        </a>
      </td>
      
      <td>
        <% if ((item.dct.definition.definition) && (item.dct.definition.definition.length > 10)) { %>
          <a href="#<%= item.dct.id %>_definition"
             onclick='document.getElementById("<%= item.dct.id %>_definition_modal").style.display = "block";'>
          <img src="../images/dct_definition.svg" width="55px" /></a>
          
          <div id="<%= item.dct.id %>_definition_modal" class="modal">
            <div class="modal-header">
              Definition for <strong><%= item.dct.label %></strong>
              <span class="modalClose"
                    onclick='document.getElementById("<%= item.dct.id %>_definition_modal").style.display = "none";'>&times;</span>
            </div>
            <div class="modal-content">
              <p><%= item.dct.definition.definition %></p>
            </div>
            <div class="modal-footer">
              Unique Construct Identifier (UCID): <a href="/<%= item.dct.id %>">❄️<%= item.dct.id %></a>
            </div>
          </div>
          
          <script>
            document.addEventListener(
              "click",
              function(event) {
                // If user either clicks X button OR clicks outside the modal window, then close modal
                if (event.target == document.getElementById("<%= item.dct.id %>_definition_modal")) {
                  document.getElementById("<%= item.dct.id %>_definition_modal").style.display = "none";
                }
              },
              false
            );
          </script>
          
        <% } else{ %>
          &nbsp;
        <% } %>
      </td>

      <td>
        <% if ((item.dct.measure_dev) && (item.dct.measure_dev.instruction.length > 10)) { %>
          <a href="#<%= item.dct.id %>_measure_dev"
             onclick='document.getElementById("<%= item.dct.id %>_measure_dev_modal").style.display = "block";'>
          <img src="../images/dct_measurement.svg" width="55px" /></a>
          
          <div id="<%= item.dct.id %>_measure_dev_modal" class="modal">
            <div class="modal-header">
              Instructions for developing measurement instruments for <strong><%= item.dct.label %></strong>
              <span class="modalClose"
                    onclick='document.getElementById("<%= item.dct.id %>_measure_dev_modal").style.display = "none";'>&times;</span>
            </div>
            <div class="modal-content">
              <p><%= item.dct.measure_dev.instruction %></p>
            </div>
            <div class="modal-footer">
              Unique Construct Identifier (UCID): <a href="/<%= item.dct.id %>">❄️<%= item.dct.id %></a>
            </div>
          </div>
          
          <script>
            document.addEventListener(
              "click",
              function(event) {
                // If user either clicks X button OR clicks outside the modal window, then close modal
                if (event.target == document.getElementById("<%= item.dct.id %>_measure_dev_modal")) {
                  document.getElementById("<%= item.dct.id %>_measure_dev_modal").style.display = "none";
                }
              },
              false
            );
          </script>
          
        <% } else{ %>
          &nbsp;
        <% } %>
      </td>
      
      <td>
        <% if ((item.dct.measure_code) && (item.dct.measure_code.instruction.length > 10)) { %>
          <a href="#<%= item.dct.id %>_measure_code"
             onclick='document.getElementById("<%= item.dct.id %>_measure_code_modal").style.display = "block";'>
          <img src="../images/dct_measurement-coding.svg" width="55px" /></a>
          
          <div id="<%= item.dct.id %>_measure_code_modal" class="modal">
            <div class="modal-header">
              Instructions for coding existing measurement instruments for <strong><%= item.dct.label %></strong>
              <span class="modalClose"
                    onclick='document.getElementById("<%= item.dct.id %>_measure_code_modal").style.display = "none";'>&times;</span>
            </div>
            <div class="modal-content">
              <p><%= item.dct.measure_code.instruction %></p>
            </div>
            <div class="modal-footer">
              Unique Construct Identifier (UCID): <a href="/<%= item.dct.id %>">❄️<%= item.dct.id %></a>
            </div>
          </div>
          
          <script>
            document.addEventListener(
              "click",
              function(event) {
                // If user either clicks X button OR clicks outside the modal window, then close modal
                if (event.target == document.getElementById("<%= item.dct.id %>_measure_code_modal")) {
                  document.getElementById("<%= item.dct.id %>_measure_code_modal").style.display = "none";
                }
              },
              false
            );
          </script>
        
        <% } else{ %>
          &nbsp;
        <% } %>
      </td>

      <td>
        <% if ((item.dct.aspect_dev) && (item.dct.aspect_dev.instruction.length > 10)) { %>
          <a href="#<%= item.dct.id %>_aspect_dev"
             onclick='document.getElementById("<%= item.dct.id %>_aspect_dev_modal").style.display = "block";'>
          <img src="../images/dct_aspect.svg" width="55px" /></a>
          
          <div id="<%= item.dct.id %>_aspect_dev_modal" class="modal">
            <div class="modal-header">
              Instructions for eliciting construct content for <strong><%= item.dct.label %></strong>
              <span class="modalClose"
                    onclick='document.getElementById("<%= item.dct.id %>_aspect_dev_modal").style.display = "none";'>&times;</span>
            </div>
            <div class="modal-content">
              <p><%= item.dct.aspect_dev.instruction %></p>
            </div>
            <div class="modal-footer">
              Unique Construct Identifier (UCID): <a href="/<%= item.dct.id %>">❄️<%= item.dct.id %></a>
            </div>
          </div>
          
          <script>
            document.addEventListener(
              "click",
              function(event) {
                // If user either clicks X button OR clicks outside the modal window, then close modal
                if (event.target == document.getElementById("<%= item.dct.id %>_aspect_dev_modal")) {
                  document.getElementById("<%= item.dct.id %>_aspect_dev_modal").style.display = "none";
                }
              },
              false
            );
          </script>
          
        <% } else{ %>
          &nbsp;
        <% } %>
      </td>
      
      <td>
        <% if ((item.dct.aspect_code) && (item.dct.aspect_code.instruction.length > 10)) { %>
          <a href="#<%= item.dct.id %>_aspect_code"
             onclick='document.getElementById("<%= item.dct.id %>_aspect_code_modal").style.display = "block";'>
          <img src="../images/dct_aspect-coding.svg" width="55px" /></a>
          
          <div id="<%= item.dct.id %>_aspect_code_modal" class="modal">
            <div class="modal-header">
              Instructions for coding qualitative data for <strong><%= item.dct.label %></strong>
              <span class="modalClose"
                    onclick='document.getElementById("<%= item.dct.id %>_aspect_code_modal").style.display = "none";'>&times;</span>
            </div>
            <div class="modal-content">
              <p><%= item.dct.aspect_code.instruction %></p>
            </div>
            <div class="modal-footer">
              Unique Construct Identifier (UCID): <a href="/<%= item.dct.id %>">❄️<%= item.dct.id %></a>
            </div>
          </div>
          
          <script>
            document.addEventListener(
              "click",
              function(event) {
                // If user either clicks X button OR clicks outside the modal window, then close modal
                if (event.target == document.getElementById("<%= item.dct.id %>_aspect_code_modal")) {
                  document.getElementById("<%= item.dct.id %>_aspect_code_modal").style.display = "none";
                }
              },
              false
            );
          </script>
        
        <% } else{ %>
          &nbsp;
        <% } %>
      </td>


      <td>
        <a href="/<%= item.dct.id %>" class="listing-dct.id"><%= item.dct.id %></a>
      </td>
    
     </tr>
  
    <% } %>
    
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js">
</script>

<script defer src="/js/overview.js">
</script>



```
